.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom */

.animate-rocket {
  -webkit-animation: animate-rocket 5s forwards;
  animation: animate-rocket 5s forwards;
}

.text-shadow-custom:hover {
  text-shadow: 3px 2px 0px white !important;
}

.hover-shadow:hover {
  box-shadow: 7px 11px 2px -2px rgba(0, 0, 0, 0.7);
}

@keyframes animate-rocket {
  0% {
    transform: scale(1) rotate(-110deg);
  }
  5% {
    transform: scale(1.25) rotate(-95deg);
  }
  10% {
    transform: scale(1.5) rotate(-105deg);
  }
  20% {
    transform: scale(1.75) rotate(-100deg);
  }
  100% {
    transform: scale(20) translateY(-100vh) translateX(-100vw);
  }
}
